.dashboard-header {
  position: relative;

  padding: 60px 0;

  background: #00BBE5;
}

.dashboard-title {
  display: block;

  font-size: 32px;
  font-weight: 600;

  text-transform: uppercase;

  margin-top: 60px;
  margin-bottom: 20px;
}

.dashboard-title,
.dashboard-text {
  color: #3f5257;
  text-align: center;
}

.dashboard-text {
  font-size: 16px;

  margin-bottom: 50px;
}
