.btn {
  padding: 20px 40px;

  font-size: 13px;
  font-weight: 700;

  color: #FFF;
  text-transform: uppercase;

  background: transparent;

  border-radius: 4px;
  border: solid 2px #FFF;

  cursor: pointer;

  transition: all ease 400ms;
}

.btn:hover {
  color: #333;
  background: white;
}
