.input {
  position: relative;

  width: 100%;

  padding: 20px 20px;
  box-sizing: border-box;

  font-size: 13px;
  font-weight: 500;

  color: #000;

  border: 0;
  outline: 0;

  background: #fff;
  border-radius: 4px;

  border: solid 1px transparent;
}

.input--danger {
  color: #9f3a38;
  background: #e0b4b4;
  border-color: #e0b4b4;
}

.form-group {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .form-group {
    margin-bottom: 0;
  }
}
