html {
  font-size: var(--font-size-base);
}

body {
  font-size: var(--font-size-base);
  line-height: 1;
}

html,
body,
input,
select,
optgroup,
textarea,
button {
  font-family: var(--font-family-base);
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

section,
header {
  box-sizing: border-box;
}

section {
  position: relative;
}

.text-center {
  text-align: center;
}
