:root {
  --font-family-base: 'Arial', Helvetica, sans-serif;
  --font-size-base: 16px;
}

/**
 * Screens sizes based boostrap grid
 */
/* @custom-media --screen-sm (min-width: 540px);
@custom-media --screen-md (min-width: 720px);
@custom-media --screen-lg (min-width: 960px);
@custom-media --screen-xl (min-width: 1200px);
@custom-media --screen-xd (min-width: 1400px); */
